body{
    background-color: rgb(210, 223, 247);
     font-family:'Times New Roman', Times, serif;
    cursor:pointer ;
}
.mainDiv{
    padding:5px;
    margin:auto;
    width:35%;
    margin-top: 10%;
    border-radius: 5px;
    height:400px;
   
}
.mainDiv:hover{
    box-shadow: 1px 1px 10px black;

}
h1{
    border-radius: 7px;
    color: black;
    background-color: rgba(166, 178, 237, 0.902);
    box-shadow: 1px 1px 5px black;
    text-align: center;
}
h2{
    margin-top:5px;
    text-align: center;
   
    
}
.innerDiv{
    border-radius: 5px;
    height:320px;
    color: black;
    background-color: rgb(180, 200, 244);
    box-shadow: 1px 1px 5px black;
    text-align: center;

}
button{
    height:30px;
    width:150px;
    border-radius:20px;
    box-shadow: 1px 1px 7px black;
}
button:hover{
    background-color: rgb(112, 247, 71);
}